# Build outputs (Keil)
/Keil_Project/Objects/
/Keil_Project/Listings/
/Keil_Project/DebugConfig/
*.o
*.axf
*.hex
*.dep
*.crf
*.d
*.lst
*.map
*.iex
*.htm
*.sct
*.tmp
*.bak
*.ddk
*.edk
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.__i
*.tra
JLinkLog.txt

# User-specific
*.uvguix.*
*.uvoptx

# OS
Thumbs.db
ESP8266固件烧录资料/ESP8266固件烧录资料/
